<!DOCTYPE html>
<html>
<head>
<title>Account Created</title>
<style>
.container {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 80%;
background-color: #a7b6ff;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
</head>
<body>
<div class = container>
<img src="static/images/logo.png" width="50px",height="50px" >
<h1> BANK</h1>
</div>
<div class = center>
<h2>A new account has been created with the following details.</h2></div>
<div class = center>
<h3>Name: Alice Smith</h3></div>
<div class = center>
<h3>Mail: alice@gmail.com</h3></div>
<div class = center>
<h3>Address: 123 Main Street, Cambridge</h3></div>
<div class = center>
<h3>Mobile: 9645342221</h3></div>
<div class = center>
<h3>Account Number: 100007569</h3></div>
<div class = center>
<h3>IFSC: BRHF08642</h3></div>
</body>
</html>