<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSI Web App: API</title>
</head>
<body>
    <a href="javascript:window.history.go(-1)">Back</a> <!-- Displayed on top of a potentially large JSON response, so it will remain visible -->
  <h2>Copy the below invitation and paste it in your Alice agent to receive the invitation </h2>
  <h1>{{ result1 }} </h1>
  <h2>OR</h2>
  <h1>Scan below QR code image</h1>
  <img src="{{ url_for('static', filename='images/displayQrInvite.png') }}"/>
</body>
</html>

