<!DOCTYPE html>
<html>
<head>
<title>Image Upload</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<input type="file" accept="image/*" id="imageInput">
  <br>
  <br>
<button onclick="uploadImage()">Upload Image</button>
<script>
       function uploadImage() {
           var fileInput = document.getElementById('imageInput');
           var file = fileInput.files[0];
           var formData = new FormData();
           formData.append('image', file);
           $.ajax({
               url: '/upload',
               type: 'POST',
               data: formData,
               processData: false,
               contentType: false,
               success: function(response) {
                   console.log(response);
               },
               error: function(xhr, status, error) {
                   console.error(error);
               }
           });
       }
</script>
</body>
</html>