<!DOCTYPE html>
<html>
  <head>
    <title>Presentation Request</title>
</head>
<body>
  <h1>ALICE</h1>
  <h3>The following details has been sent to the Bank</h3>
  <br>
  <table border="1">
    <tr>
      <td>Name</td>
      <td>{{ name }}</td>
    </tr>
    <tr>
      <td>E-Mail</td>
      <td>{{ mail }}</td>
    </tr>
    <tr>
      <td>Contact</td>
      <td>{{ mobile_number }}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>{{ address }}</td>
    </tr>
  </table>
  <br>
  <br>  
  

  <button onclick="window.location.href = '{{ login }}';">Go to main menu</button>
</body>
</html>